<div class="row page-title">
    <div class="py-4">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="h3 m-0">Add Brands</h1>
            </div>
        </div>
    </div>
</div>

<div class="card p-2 pb-0 m-1">
    <form method="POST" action="/admin/brands/store" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <label class="input-group-text">LOGO</label>
            <input type="file" id="imageBrand" name="imageBrand" class="form-control"
                accept="image/*" required>

        </div>
        <div class="input-group">
            <img id="imageBrandShow" src="#" />
            <span class="input-group-text">Name</span>
            <input id="nameBrand" name="nameBrand" type="text" aria-label="Last name" class="form-control" required>
        </div>
        <div class="form-group p-2 float-end me-2">
            <button type="reset" class="btn btn-danger me-3">Reset</button>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>

    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputBrand = document.getElementById('imageBrand');
        const imageShow = document.querySelector('#imageBrandShow');

        imageShow.style.display = 'none';

        inputBrand.onchange = function (e) {
            imageShow.style.display = 'block';

            if (e.target.files && e.target.files[0]) {

                var reader = new FileReader();

                reader.onload = function (rd) {

                   
                    imageShow.setAttribute('src', rd.target.result);
                    imageShow.width = "50";
                    imageShow.height = "50";
                    console.log(imageShow);
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        }

    })


</script>