@import 'clientVariables';

.account-container {

    // color: $color-text-hover;
    #page-tab-container {
        min-height: 500px;
        max-width: 50rem;
        width: 100%;
        margin: 0 auto;

        .tabs {
            width: 100%;
            text-align: center;
        }
    }



    .tab-links {
        margin-bottom: 32px;
    }

    button {
        position: relative;
        padding: 16px;
        border: none;
        outline: none;
        // color: var(--white);
        font-size: 12px;
        text-transform: uppercase;
        background: transparent;
    }

    button::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: $color-text-hover;
        transition: .5s;
    }

    button:hover::after,
    button.active::after {
        width: 100%;
    }

    .tab-content {
        width: 100%;
    }

    .tab-content>section {
        animation: up .5s;
    }

    @keyframes up {
        from {
            opacity: 0;
            transform: translateY(12px);
        }

        to {
            opacity: 1;
        }
    }
}