@import 'clientVariables';

.search-content {
  background-color: #000;
  color: #fff;
}

.card {
  margin-bottom: 1rem;
}

.grid-products {
  text-align: center;

  a {
    color: #000;
    transition: all 0.3s;

    &:hover {
      color: $color-text-hover;
    }
  }

  .product-item {
    .image-container {
      text-align: center;
      max-height: 360px;

      a {
        display: inline-block;
        width: 50%;

        img {
          vertical-align: middle;
          width: 100%;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.05);
          }
        }
      }

    }
  }

}