:export {
  widthSidebar: 15rem; }

/* main-view */
#main-view {
  min-height: 580px; }

/* card-statistic */
.card-statistic__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }

.widget-header__title {
  font-weight: 500; }

.card-statistic__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem; }

.card-statistic__delta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500; }

.card-statistic__delta-direction {
  margin-right: 0.25rem;
  transform: scale(1); }

.card-statistic__delta--rise {
  color: #47ad24; }

.card-statistic__delta--fall {
  color: #e42e2e; }

.card-statistic__caption {
  font-size: 13px;
  color: #828f99; }

/* card active users */
.saw-pulse__counter {
  background: #d9ecff;
  border-radius: 0.125rem;
  color: #004b9a;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  margin: 0 1.25rem 0.75rem;
  padding: 1.5rem 1.25rem;
  text-align: center; }

.table-pages-user-actived tr > th:not(:first-child),
.table-pages-user-actived tr > td:not(:first-child) {
  text-align: right; }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1; }
  .hr-text:before {
    content: '';
    background: #818078;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px; }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa; }

td {
  vertical-align: middle; }
  td .table-column {
    display: flex;
    align-items: center; }
  td .product-img {
    width: 80px;
    margin-right: 16px; }

.select2-selection--single {
  height: fit-content !important;
  padding: 4px 36px 4px 0px !important; }

#loaderDiv {
  text-align: center;
  margin-top: 25%;
  transform: translateY(-50%); }

html * {
  box-sizing: border-box; }

p {
  margin: 0; }

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }

.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px; }

.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer; }
  .upload__img-close:after {
    content: '\2716';
    font-size: 14px;
    color: white; }

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  padding-bottom: 100%; }

.img-thumbs {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 0.75rem; }

.img-thumbs-hidden {
  display: none; }

.wrapper-thumb {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  justify-content: space-around; }

.img-preview-thumb {
  background: #fff;
  border: 1px solid none;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
  margin-right: 1rem;
  max-width: 140px;
  padding: 0.25rem; }

.remove-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  top: -5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer; }

.remove-btn:hover {
  box-shadow: 0px 0px 3px grey;
  transition: all .3s ease-in-out; }

#content-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  #content-page .container-body {
    flex: 1;
    padding-bottom: 16px;
    background: #adb5bd; }

/* css for side bar */
.sidebar-container {
  position: fixed;
  width: 15rem;
  height: 100%;
  left: 0;
  overflow: hidden;
  transition: 0.4s ease;
  transition-property: left;
  z-index: 1000; }

.sidebar-logo {
  /* margin-bottom: $height-header); */
  height: 5rem;
  margin-top: -1rem; }

.btn-close-sidebar {
  display: none;
  margin-left: 90%; }
  .btn-close-sidebar .content-page {
    flex: 1; }

@media (max-width: 992px) {
  .sidebar-container {
    left: calc(15rem * -1); }
  #content-page {
    margin-left: 0 !important; }
  .btn-close-sidebar {
    display: block; } }

@media (max-width: 612px) {
  .footer-container {
    flex-wrap: wrap;
    align-content: center !important; }
  .copyright,
  .author {
    padding: 4px 0 !important; } }

@media (max-width: 575px) {
  .search-conatiner {
    border: none !important; }
  .search-field {
    display: none !important; } }

.sub-btn {
  padding: 0.5rem 1rem;
  width: 100%; }

.sub-btn__arrow {
  transition: transform 0.2s ease-in-out; }

.sub-btn[aria-expanded='true'] {
  background-color: gainsboro; }

.sub-btn[aria-expanded='true'] .sub-btn__arrow {
  transform: rotate(90deg); }

.sub-btn-nav__item {
  padding-left: 2.625rem; }

.nav-link:hover {
  background-color: gainsboro; }

.nav-link__icon {
  font-size: 18px;
  margin-right: 0.5rem; }

.admin-drop {
  height: 3rem; }

/* content-page */
#content-page {
  width: auto;
  margin-left: 15rem;
  transition: margin-left 0.4s ease; }

#main-view {
  margin-bottom: 2.5rem;
  min-height: calc(100vh - 5rem - 125px); }

/* css for header */
#header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 100; }

.header-container {
  height: 5rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.menu-btn {
  color: black;
  font-size: 20px;
  margin: 8px 12px;
  cursor: pointer; }

/* search field */
.search-conatiner {
  border: 1px solid #e6e6e6;
  width: 480px;
  border-radius: 5px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto; }

.btn-search {
  margin-right: 4px;
  background: transparent;
  border: none; }

.search-field {
  border: 0;
  border-radius: 0;
  background: transparent;
  height: auto;
  outline: none;
  width: 80%;
  font-size: 16px; }

.header__permission {
  margin-right: 32px;
  margin-left: 16px;
  border-radius: 5px;
  border: 2px solid #e6e6e6;
  padding: 8px 16px;
  background-color: #ff6c60; }

/* css for footer */
/* footer */
.footer-container {
  background-color: #fff;
  height: 5rem;
  width: 100%; }

.footer-container .copyright,
.footer-container .author {
  font-size: 13px; }

/* custom style badge */
/* status oders */
.badge-sa-success {
  background: #def2d0;
  color: #245900; }

.badge-sa-primary {
  background: #d9ecff;
  color: #004b9a; }

.badge-sa-warning {
  background: #f9f1c8;
  color: #5e4f00; }

.badge-sa-danger {
  background: #ffdcdc;
  color: #900; }
