<footer id="footer">
    <div class="footer-container border-top d-flex justify-content-between align-items-center ">

        <span class="copyright p-3 fw-light" style="font-size: 13px;">
            Copyright <i class="fa-regular fa-copyright"></i>   Luxe Watch 2023
        </span>

        <span class="author p-3 fw-light" style="font-size: 13px">
            Made with <i class="ti-heart"></i> by Tran Trong
            Hoang 
        </span>
    </div>
</footer>
