<header id="header">
    <div class="header-container border-bottom shadow">
        <button class="menu-btn btn">
            <i class="fas fa-bars"></i>
        </button>
        <div class="search-conatiner">

            <button class="btn-search">
                <i class="ti-search" id="icon_search"></i>
            </button>
            <input type="search" class="search-field" placeholder="Search content…" value="" name="" autocomplete="off">
        </div>
        <div class="header__permission">Admin</div>
    </div>
</header>