<footer id="footer">
    <div class="footer-container border-top d-flex justify-content-between align-items-center ">

        <span class="copyright p-3 fw-light" style="font-size: 13px;">
            Copyright <i class="fa-regular fa-copyright"></i> Team 7 - Web Watch Clinic 2023
        </span>

        <span class="author p-3 fw-light" style="font-size: 13px">
            Made with <i class="ti-heart"></i> by Tran Trong
            Hoang and Bui Le Hoai An
        </span>
    </div>
</footer>
