<div class="sidebar" id="mySidebar">
    <div class="content-sidebar">
        <div class="bar-logo">
            <a href="#" class="logo">
                <img src="/imgs/logos/logo_adminPage.png" alt="IMG_LOGO">
            </a>
        </div>
        <!-- logo -->
        <div class="menu-sidebar">
            <!-- <button class="bar-item bar-button xxlarge" onclick="closeSidebar()">Close &times;</button> -->
            <div class="search-button-group">
                <i class="fa-solid fa-magnifying-glass " id="icon_search"></i>
                <input type="search" class="search-field" placeholder="Search watches…" value="" name=""
                    autocomplete="off">
            </div>
            <a href="index.html" class="bar-item bar-button hover-underline-animation">Home</a>
            <a href="watches.html" class="bar-item bar-button hover-underline-animation">Watches</a>
            <a href="about.html" class="bar-item bar-button hover-underline-animation">About</a>
            <a href="blog.html" class="bar-item bar-button hover-underline-animation">Blog</a>
            <a href="contact.html" class="bar-item bar-button hover-underline-animation">Contact</a>
        </div>

        <div class="bottom-extras">
            <div class="menu-divider"></div>
            <div class="account-menu hover-underline-animation">

                <a href="login.html" class="">Login</a>
                <i class="ti-user"></i>

            </div>
            <div class="menu-divider"></div>
            <div class="cart-menu hover-underline-animation">

                <a href="#" class="">Cart</a>
                <i class="ti-shopping-cart"></i>

            </div>
            <div class="menu-divider "></div>
            <div class="language-menu hover-underline-animation">

                <div class="caption">Language</div>
                <div class="pick-language-btn">
                    <label class="language-selected" style="cursor: pointer">English</label>
                    <i class="ti-angle-down"></i>
                    <ul class="language-sub-menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Tiếng Việt</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- overlay -->
<div class="overlay" id="myOverlay"></div>