<!-- Header desktop -->
<div class="container-menu-desktop" id="myHeader">
    <div class="header-top">
        <!-- Topbar -->
        <div class="top-bar" id="topBar">
            <div class="content-topbar">
                <div class="left-top-bar">
                    <p><i class="fa-solid fa-phone"></i> 012343569 </p>
                </div>

                <div class="right-top-bar d-flex">

                    <!--  account -->
                    <div class="menu-top-bar account">
                        {{#if user}}
                        {{!-- <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{user.profilePhoto}}" alt="mdo" width="32" height="32"
                                    class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">My account</a></li>
                                <li><a class="dropdown-item" href="#">Checkout</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div> --}}
                        <a href="#" class="d-flex align-items-center gap-1">
                            <img src="{{user.profilePhoto}}" alt="mdo" width="32" height="32" class="rounded-circle">
                            <p>{{user.firstName}}</p>
                            <i class="arrow-down-icon fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="sub-menu-top-bar" style="left: 25%;">
                            <li><a href="/account"> My account </a> </li>
                            <li><a href="/checkout">Checkout</a></li>
                            <li><a href="#">Sign out</a></li>
                        </ul>

                        {{else}}
                        <a href="#">Login <i class="arrow-down-icon fa-solid fa-caret-down"></i></a>
                        <ul class="sub-menu-top-bar" style="left: -50%;">
                            <li><a href=" /login"> Login </a> </li>
                            <li><a href="/checkout">Checkout</a></li>
                        </ul>
                        {{/if}}

                    </div>
                    <!-- languages -->
                    {{!-- <div class="menu-top-bar languages">

                        <a href="#">English <i class="arrow-down-icon fa-solid fa-caret-down"></i></i></a>
                        <ul class="sub-menu-top-bar">
                            <li><a href="#">Tiếng Việt</a> </li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </div> --}}

                    <!-- currentcy -->
                    {{!-- <div class="menu-top-bar currentcy">

                        <a href="#">USD <i class="arrow-down-icon fa-solid fa-caret-down"></i></i></a>
                        <ul class="sub-menu-top-bar">
                            <li><a href="#">VND</a> </li>
                            <li><a href="#">EUR</a></li>
                        </ul>
                    </div> --}}
                </div>
            </div>
        </div>
        <!-- menu-header -->
        <nav class="container-menu-header">

            <!-- logo -->
            <a href="/" class="logo">
                <img src="/imgs/logos/logo_adminPage.png" alt="IMG_LOGO">
            </a>


            <!-- menu -->
            <div id="nav-main-menu">
                <ul class="text-nowrap">
                    <li><a class="hover-underline-animation" href="/">Home</a></li>
                    <li><a class="hover-underline-animation" href="brands.html">Brands</a></li>
                    <li><a class="hover-underline-animation" href="watches.html">Watches</a></li>
                    <li><a class="hover-underline-animation" href="about.html">About</a></li>
                    {{!-- <li><a class="hover-underline-animation" href="blog.html">Blog</a></li>
                    <li><a class="hover-underline-animation" href="contact.html">Contact</a></li> --}}
                </ul>
            </div>
            <div class="nav-icon-menu">
                <ul>
                    <li class="icon-search" data-bs-toggle="modal" data-bs-target="#searchModal">

                        {{!-- <div class="search__toggle">
                            <span class="icon-cancel-search">

                            </span>
                            <i class="fa-solid fa-magnifying-glass " id="icon_search"></i>

                        </div> --}}
                        <i class="fa-solid fa-magnifying-glass" id="icon_search"></i>
                    </li>
                    <li data-bs-toggle="modal" data-bs-target="#cartModal">
                        <div class="cart">
                            <span class="count"></span>
                            <i class="fa-solid fa-cart-shopping icon-cart"></i>
                        </div>

                    </li>

                    <li class="icon-hamburger">

                        <i class="ti-menu"></i>
                    </li>

                </ul>
            </div>
        </nav>

    </div>

</div>
{{!-- cart modal --}}
{{!-- checkout modal --}}
<div class="modal fade" id="cartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title fw-bold" id="cartModalLabel">
                    Your Shopping Cart
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="show-cart list-unstyled">

                </ul>
                <div class="d-flex justify-content-end">
                    <h5>Total: <span class="total-cart">89$</span></h5>
                </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-between">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-dark btn-checkout"><a class="nav-link" href="/checkout">Checkout</a></button>
            </div>
        </div>
    </div>
</div>
{{!-- search modal --}}
<div class="modal fade" id="searchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="searchModalLabel" aria-hidden="true">
    <form action="/search">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h4 class="modal-title fw-bold" id="searchModalLabel">
                        Search
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="q" class="form-control">
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark btn-search">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>