<div class="container d-flex w-50 flex-column p-5 justify-content-around align-items-center">

    <h2 class="title">Login</h2>

    <a class="btn btn-light btn-lg btn-block d-flex align-items-center mt-5 mb-5" href="/auth/google">
        <img width="20px"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png">
        <p class="m-0 ps-2">Continue with Google</p>
    </a>
</div>